#octopus{
	position: relative;
	margin: auto;
	width:50%;
	top: 150px
}

#hat {
   	position: relative;
  	margin: auto;
	width: 50%;
	bottom: 250px
}

#glasses{
    position: absolute;
    left: 45px;
    bottom: -99px;

}
