div#octopus{
	position:relative;
	margin:auto;
	width:50%;
	top:150px
}


div#hat {
   	position:relative;
  	margin:auto;
	width:50%;
	bottom:250px
}

div#glasses{
    position:absolute;
	top:255px; 
	left:525px
}
