section#contact-info {
	font-size:.8em;
}

section.job {
	background-color: #e9e5dc;
	border-radius: 50px; 
	padding:25px;
	margin-top:15px;
	margin-bottom:15px
}

ul.list {
	font-size: .8em
}

section:first-of-type {
	background-color: blue
}

ul > li {
	color:red;
}